<%- include ('partials/_header.ejs')%>

    <h1>Product Manager</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 mb-5">
                <div class="card">
                    <div class="card-body">
                        <form action="productos/add" method="POST">
                            <div class="form-group">
                                <label class="form-control" for="name">Product</label>
                                <input type="text" name="product" id="product " class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-control" for="Description">Description</label>
                                <input type="text" name="description" id="description" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-control" for="price">Price</label>
                                <input type="text" name="price" id="price" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-control" for="stock">Stock</label>
                                <input type="text" name="stock" id="stock" class="form-control" />
                            </div>
                                                     
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-1 mt-8">
                <table class="table table-striped">
                    <tr class="table-primary">
                        <th>Number </th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Price</th>     
                        <th>Stock</th>
                        <th>Actions</th>
                    </tr>
                    <% for(let i=0; i<products.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <%= products[i].product %>
                            </td>
                            <td>
                                <%= products[i].description %>
                            </td>
                            <td>
                                <%= products[i].price %>
                            </td>
                            <td>
                                <%= products[i].stock %>
                            </td>
                                                                                
                            <td>

                                <a href="/productos/proedit/<%=products[i]._id %>" class="btn btn-info">Edit</a>
                                <a href="/productos/delete/<%=products[i]._id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </div>

    <%- include ('partials/_footer.ejs')%>